.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 31vw [col-entry]);
  grid-gap: 4px 4px;
  align-items: center;
  justify-content: space-between;
}

.stream-wrapper {
  list-style: none;
  padding: 0.2vw;
  margin: 0;
}

.flex-item {
  display: flex;
}